@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Regular.ttf');
}

.brand-link .brand-image {
    float: left;
    line-height: .8;
    margin-left: 0.8rem;
    margin-right: 0.5rem;
    margin-top: -3px;
    max-height: 33px;
    width: auto;
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
}

.content .dashboard {
    padding-bottom: 100px;
}

.dashboard select {
    width: 100%;
    padding: 18px 39px;
    min-width: 500px;
    height: auto;
    /* remove the original arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
}

.dashboard .button-search {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    background: #1E4161;
    border-radius: 10px;
    padding: 16px 30px;
}

.dashboard .fa {
    position: absolute;
    pointer-events: none;
    top: 21px;
    right: 30px;
    color: #6DD36B;
}

.wrapper-chart {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    /* height: 100%; */
}

.ticket-not-valid {
    background: #FF0000;
    border-radius: 10px;
    padding: 12px;
}

.small-box {
    min-height: 133px;
    align-items: center;
}

.small-box .icon .fa {
    position: unset;
    padding-left: 30px;
    color: #fff;
}

.small-box .inner p,
.ticket-not-valid p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}

.small-box .inner h3,
.ticket-not-valid h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
}

.ticket-not-valid h3 {
    margin: 0px 24px;
}

.bg-info {
    background-color: #516BF5 !important;
}

.bg-success {
    background-color: #34B53A !important;
}

.bg-warning {
    background-color: #FFB200 !important;
    color: #fff!important;
}

.bg-danger {
    background-color: #FF0000 !important;
}

@media (max-width: 767px) {
    .dashboard select {
        width: 100%;
        min-width: auto;
    }
}